/*-------------
    RESET
-------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
    GRID LAYOUT
-------------------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.container-fluid {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.row > * {
    padding: 0 10px;
}

.col-20 {
    width: 20%;
}
.col-25 {
    width: 25%;
}
.col-30 {
    width: 30%;
}
.col-40{
    width: 40%;
}
.col-50 {
    width: 50%;
}
.col-60{
    width: 60%;
}
.col-70 {
    width: 70%;
}
.col-80 {
    width: 80%;
}
.col-100 {
    width: 100%;
}
.col-grow {
    flex-grow: 1;
}

/*--------------
    TYPOGRAPHY
--------------*/

body{
    font-family: 'Open Sans', sans-serif;
}

.header-links ul li , .header-btn{
    font-size: 16px;
}

.col-40 p{
    font-size: 16px;
}

/*--------------
    HEADER
--------------*/


.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 26px 24px;
}

.header-boxes{
    display: flex;
    align-items: center;
    height: 100%;
}

.header-links{
    display: flex;
}

.header-links ul{
    display: flex;
    list-style: none;
    padding-left: 20px;
    align-items: center;
}

.header-links ul li{
    padding: 0px 20px;
}

.header-btn{
    display: flex;
    background-color: #0061ff;
    color: #fff;
    border-style: none;
    padding: 6px 8px;
}

.header-button{
    display: flex;
    align-items: center;
}

/*--------------
    MAIN
--------------*/


/*--------------
    HERO
--------------*/

.hero{
    background-color: #b4d0e7;
}

.hero .container h1{
    font-size: 60px;
    line-height: 1.5;
    max-width: 85%;

}
